<div class="main__section">
	
	<div class="grid-construct">

		<div class="portfolio">
			<h1 class="heading">Work</h1>
			<ul class="portfolio-list">
				<li class="portfolio-list__item"><%= image_tag 'http://lorempixel.com/300/300', :class => '' %>		</li>
				<li class="portfolio-list__item"><%= image_tag 'http://lorempixel.com/300/300', :class => '' %>		</li>
				<li class="portfolio-list__item"><%= image_tag 'http://lorempixel.com/300/300', :class => '' %>		</li>
				<li class="portfolio-list__item"><%= image_tag 'http://lorempixel.com/300/300', :class => '' %>		</li>
				<li class="portfolio-list__item"><%= image_tag 'http://lorempixel.com/300/300', :class => '' %>		</li>
				<li class="portfolio-list__item"><%= image_tag 'http://lorempixel.com/300/300', :class => '' %>		</li>
			</ul>
		</div>

	</div>

</div>