<div class="main__section no-p">
	<div class="grid-construct">
		<%= partial("partials/heading", :locals => { :title => "Projects", :copy => "" }) %>
	</div>
	
	<div class="clearfix">

		<div class="portfolio">
			<ul class="portfolio-list clearfix">
				
				<li class="portfolio-list__item">
					<a target="_blank" href="https://www.westfield.com/">
						<div class="overlay"></div>
						<%= image_tag 'portfolio_westfield.png', :class => 'pic' %>
						<div class="overlay-details fadeIn-top">
			      	<p>Front end Development for Westfield</p>
						</div>
					</a>
				</li>
				
				<li class="portfolio-list__item">
					<a target="_blank" href="http://www.oceanmist.com/">
						<div class="overlay"></div>
						<%= image_tag 'portfolio_om.png', :class => 'pic' %>
						<div class="overlay-details fadeIn-top">
			      	<p>OceanMist website redesign</p>
						</div>
					</a>
				</li>
				
				<li class="portfolio-list__item">
					<a target="_blank" href="http://www.blurb.com/">
						<div class="overlay"></div>
						<%= image_tag 'portfolio_blurb.png', :class => 'pic' %>
						<div class="overlay-details fadeIn-top">
			      	<p>Blurb blog redesign</p>
						</div>
					</a>
				</li>
				
				<li class="portfolio-list__item">
					<a target="_blank" href="https://groceryoutlet.com/">
						<div class="overlay"></div>
						<%= image_tag 'portfolio_go.png', :class => 'pic' %>
						<div class="overlay-details fadeIn-top">
			      	<p>Grocery Outlet website redesign</p>
						</div>
					</a>
				</li>

			</ul>
		</div>

	</div>

</div>